.button button{
    height: 30px;
    width: 180px;
    background-color: rgb(39, 212, 255);
    border: none;
    border-radius: 9px;
    margin-left: 80px;
    margin-top: 20px;
}

.button button a{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
